<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel
</head>
    <title>Porsche 944 negro</title>
<body>
<main class='container'>
    <header class="encabezado">
        <nav class="menu">
        <ul class='opciones'>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        </nav>
    <section><h1>Porsche 944</h1>
    </header>
</section>
<section class='fondo'></section>
<p>My first paragraph.</p>

</main>


</body>
</html>